body {
	margin: 2em auto;
	width: 1000px;
}

#text {
	width: 400px;
	height: 400px;
}

#text_field {
	display: block;
}

#text_submit_button {
	display: block;
}

fieldset {
	display: inline;
}

/*label {
	display: inline;
}*/